.useritem{
    display: flex;
    justify-content: flex-end;
    height: 30px;
    padding-right: 50px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    .login {
      padding-left: 11px;
      font-family: 'Hannotate SC',sans-serif;
      text-decoration: none;
      font-size: 18px;
      color: black;
    }
  }
  .mainphoto{
    background-image: image-url("photo/3408660_s.jpg");
    background-size: cover;
    opacity: 75%;
    width: 100%;
    height: 700px;
    position: relative;
    &__catchphrase{
      font-size: 80px;
      font-weight: 600;
      font-family: 'Hannotate SC',sans-serif;
      color: white;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      position: absolute;
      top: 200px;
      left: 600px;
    }
   &__catchphrase1{
    font-size: 80px;
    font-weight: 600;
    font-family: 'Hannotate SC',sans-serif;
    color: white;
    text-shadow: 0 0 5px rgba(0,0,0,0.4);
    position: absolute;
    top: 300px;
    left: 690px;
   }
  }
  .maininfo{
    height: 50px;
    margin-top: 50px;
    font-size: 43px;
    color: black;
    letter-spacing: .2em;
    font-family: 'Hannotate SC',sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
  }